<!DOCTYPE html>
<html>
<head>
  <meta property="og:title" content="Tasbiha" />
  <meta property="og:image" content="{{thisUrl}}/opengraph.jpg" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>Tasbiha</title>
  <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
  </script>
  <script defer src="/_vercel/insights/script.js"></script>
  <style>
    html, body {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div {
        display: contents;
    }
    a {
        display: contents;
    }
    body {
      width: 100%;
      height: 100%;
    }
    img {
      width: auto;
      height: 90%;
      object-fit: contain;
    }
  </style>
</head>
<body>
    <div>
        <a href="{{kittyImageUrl}}" target="_blank"><img id="kitty" src="{{kittyImageUrl}}" alt="Image"></a>
    </div>
    <!-- <a href="{{kittyImageUrl}}" target="_blank"><img id="kitty" src="{{kittyImageUrl}}" alt="Image"></a> -->
  <!-- <img id="kitty" src="{{kittyImageUrl}}" alt="Image"> -->
</body>
<script>
    const kitty = document.getElementById('kitty');
    kitty.style.objectFit = 'contain';
    if (window.innerHeight > window.innerWidth) {
      kitty.style.width = '90%';
      kitty.style.height = 'auto';
    } else {
      kitty.style.width = 'auto';
      kitty.style.height = '90%';
    }
</script>
</html>
